html { box-sizing: border-box; }
*, ::after, 
::before 
{ box-sizing: inherit; }

:root {
  --white:#FFFFFF;
  --gray:#696969;
  --lightgray:#D3D3D3;
  --background: #f5f5f5;
  --blue: #629edb;
  --black:#000000;
}

body {
  background-color: var(--background);
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  margin: auto;
}

/*hlavička*/

h1 {
  font-family: 'Raleway', serif;
  font-size: 60px;
  color: var(--white);
  text-align: center;
  text-shadow: 1px 1px var(--gray);
}

header {
  max-width: 100%;
  background-image: url("images/island-hlavicka.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--blue);
  padding: 1rem;
}

header .uvodni {
  color: var(--white);
  text-align: center;
  text-shadow: 1px 1px var(--gray);
  margin: 0 2rem 2rem 2rem;
}

header .autor {
  font-style: italic;
  text-align: center;
  color: var(--white);
  text-shadow: 1px 1px var(--gray);
  opacity: 0.8;
  position: relative;
  padding-top: 1rem;
}

.autor:before {
position: absolute;
content: '';
background-color:var(--white);
width:5rem;
height: 2px;
top: 0;
margin-left: 40px;
margin-right: auto;
}

.kontejner {
  box-shadow: .5px .5px 7px var(--lightgray), .5px  .5px 7px var(--lightgray);
}

/*menu*/
.menu {
  display: flex;
  flex-direction: column;
  color: var(--lightgray);
  text-transform: uppercase;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 80%;
}

li {
  padding: 0.5rem;
}

.menu ul li {
  display: flex;
  border-bottom: 0.5px solid var(--lightgray); 
  justify-content: center;
}

.uvod {
  padding-top: 2rem;
}

.menu a {
  color: var(--lightgray);
  text-decoration: none;
}

.menu a:hover {
  color: var(--blue);
}

/*texty s fotkami*/
.kontejner {
  background-color: var(--white);
}

.kontejner .text,
h2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.prvni {
padding-top: 2rem;
}

.fotopopis,
.fotopopis a {
  color: var(--gray);
  text-align: center;
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.foto1 {
  position: relative;
}

.fotonazev {
  color: var(--gray);
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
}

.proclinka,
.videtlinka,
 .fotolinka {
  position: relative;
  padding-bottom: 1rem;
}

.proclinka:after,
.videtlinka:after,
.fotolinka:after {
  position: absolute;
  content: '';
  background-color:var(--blue);
  width:5rem;
  height: 3px;
  bottom: 0;
  left: 0;
}

/*fotogalerie*/
.fotogalerie {
  display: flex;
  flex-wrap: wrap;
}

.fotogal {
  width: 100%;
}

.fotogalerie img {
  width: 100%;
}

/*zápatí*/
footer {
  margin: 1rem;
}

footer p {
  padding-top: 2rem;
}

footer p,
footer a {
  color: var(--gray);
}



/*tablet*/
@media only screen and (min-width: 625px) {

header {
  padding-left: 0;
}

header .uvodni {
  margin-left: 2rem;
  margin-right: 2rem;
}

/*menu*/
.menu {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
}

.menu ul {
  width: 100%;
  display: table;
  padding: 0;
  margin: 0;
  position: center;
}

.menu ul li {
  display: table-cell;
  width: calc(100%/4);
  padding: 5px;
  border: 0.5px solid var(--lightgray);
}

.menu li:first-child {
  border-left: 0;
}

.menu ul:last-child li {
  border-right: 0;
}

.menu a {
  position: center;
}

.menu a:hover {
  color: var(--blue);
}

.spodni {
  display: none;
}

/*fotky s texty v článku*/
.fotopopis,
.fotopopis a {
  color: var(--white);
  text-align: center;
  padding-bottom: 1rem;
}
  
.foto_1 {
  position: relative;
}

.foto_1 .fotopopis {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

/*fotogalerie*/

.fotogalerie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 1rem;
  }

.fotogal {
  overflow: hidden;  
  width: 50%;
  padding: 0;  
  float: left;
  position: relative;
  margin-bottom: -1rem;
}

.fotogalerie img {
  height: 100%;
}

.fotogal img {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

.fotogal:hover img {
  transform: scale(1.1); 
}

.ftgltext {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--white);
  color:var(--black);
  opacity: 0;
  visibility: hidden;
}

.fotogal:hover .ftgltext {
  width: 100%;
  visibility: visible;
  opacity: 0.7;
}

.fotogalerie .fotopopis,
.fotogalerie a {
  color: var(--gray);
  text-align: center;
  padding-top: 0.5rem;
}

}

/*desktop*/
@media only screen and (min-width: 1000px) {

.kontejner {
  max-width: 960px;
  margin: auto;
  margin-top: -4rem;
}

header {
  margin: 0;
  height: 500px;
}

header .uvodni {
max-width: 1200px;
margin-left: 15rem;
margin-right: 15rem;
}

/*menu a text vlevo*/

.menu {
  float: left;
  width: 30%;
  margin-top: 1rem;
}

ul {
  text-align: left;
}

li {
  margin-left: 2rem; 
}

.menu ul li {
  display: block;
  border-top: 0;
  border-left: 0;
  width: 70%;
}

.uvodniblok {
  display: flow-root;
}

.prvni {
  float: right;
  width: 70%;
}

/*sekce*/

.proc {
  margin-right: 15rem;
}

.videt {
  margin-left: 15rem;
}

.videt2 {
  margin-left: 15rem;
}

/*fotogalerie*/

.fotogal {
  width: calc(100%/3);
}

/*footer*/

footer {
  width: 960px;
  margin: auto;
}

}